.p-0 {
  padding: 0;
}

.pb-30 {
  padding-bottom: 30px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-40 {
  padding-bottom: 40px;
  @media (max-width: 767px) {
    padding-bottom: 20px;
  }
}

.pb-60 {
  padding-bottom: 60px;
  @media (max-width: 991px) {
    padding-bottom: 40px;
  }
  @media (max-width: 767px) {
    padding-bottom: 20px;
  }
}

.pl-65 {
  padding-left: 65px;
  @media (max-width: 991px) {
    padding-left: 45px;
  }
  @media (max-width: 767px) {
    padding-left: 25px;
  }
}

.pt-60 {
  padding-top: 60px;
  @media (max-width: 991px) {
    padding-top: 40px;
  }
  @media (max-width: 767px) {
    padding-top: 20px;
  }
}

.pr-65 {
  padding-right: 65px;
  @media (max-width: 991px) {
    padding-right: 45px;
  }
  @media (max-width: 767px) {
    padding-right: 25px;
  }
}

.p-60 {
  padding: 60px 0;
  @media (max-width: 991px) {
    padding: 40px 0;
  }
  @media (max-width: 767px) {
    padding: 20px 0;
  }
}

.pb-75 {
  padding-bottom: 75px;
  @media (max-width: 991px) {
    padding-bottom: 50px;
  }
  @media (max-width: 575px) {
    padding-bottom: 30px;
  }
}
.pt-80 {
  padding-top: 80px;
  @media (max-width: 991px) {
    padding-top: 50px;
  }
  @media (max-width: 575px) {
    padding-top: 30px;
  }
}

.p-90 {
  padding: 90px;
  @media (max-width: 991px) {
    padding: 50px;
  }
  @media (max-width: 767px) {
    padding: 30px;
  }
}

.pb-100 {
  padding-bottom: 100px;
  @media (max-width: 991px) {
    padding-bottom: 50px;
  }
  @media (max-width: 767px) {
    padding-bottom: 30px;
  }
}

.pt-100 {
  padding-top: 100px;
  @media (max-width: 991px) {
    padding-top: 50px;
  }
  @media (max-width: 767px) {
    padding-top: 30px;
  }
}

.pl-100 {
  padding-left: 100px;
  @media (max-width: 991px) {
    padding-left: 50px;
  }
  @media (max-width: 767px) {
    padding-left: 30px;
  }
}

.pr-100 {
  padding-right: 100px;
  @media (max-width: 991px) {
    padding-right: 50px;
  }
  @media (max-width: 767px) {
    padding-right: 30px;
  }
}

.pt-110 {
  padding-top: 110px;
  @media (max-width: 991px) {
    padding-top: 60px;
  }
  @media (max-width: 767px) {
    padding-top: 40px;
  }
}

.pt-120 {
  padding-top: 120px;
  @media (max-width: 991px) {
    padding-top: 70px;
  }
  @media (max-width: 767px) {
    padding-top: 50px;
  }
  @media (max-width: 575px) {
    padding-top: 40px;
  }
}

.pb-120 {
  padding-bottom: 120px;
  @media (max-width: 991px) {
    padding-bottom: 70px;
  }
  @media (max-width: 767px) {
    padding-bottom: 50px;
  }
  @media (max-width: 575px) {
    padding-bottom: 40px;
  }
}

.mr-15 {
  margin-right: 15px;
}

.ml-15 {
  margin-left: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px !important;
  @media (max-width: 767px) {
    margin-bottom: 20px !important;
  }
}
.mb-55 {
  margin-bottom: 55px;
  @media (max-width: 991px) {
    margin-bottom: 40px;
  }
  @media (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.mb-60 {
  margin-bottom: 60px;
  @media (max-width: 991px) {
    margin-bottom: 40px;
  }
  @media (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.mb-70 {
  margin-bottom: 70px;
  @media (max-width: 991px) {
    margin-bottom: 50px;
  }
  @media (max-width: 767px) {
    margin-bottom: 30px;
  }
}

.mt-70 {
  margin-top: 70px;
  @media (max-width: 991px) {
    margin-top: 50px;
  }
  @media (max-width: 767px) {
    margin-top: 30px;
  }
}

.mb-80 {
  margin-bottom: 80px;
  @media (max-width: 991px) {
    margin-bottom: 60px;
  }
  @media (max-width: 767px) {
    margin-bottom: 40px;
  }
}

.mb-100 {
  margin-bottom: 100px;
  @media (max-width: 991px) {
    margin-bottom: 60px;
  }
  @media (max-width: 767px) {
    margin-bottom: 40px;
  }
  @media (max-width: 575px) {
    margin-bottom: 20px;
  }
}

.mt-100 {
  margin-top: 100px;
  @media (max-width: 991px) {
    margin-top: 60px;
  }
  @media (max-width: 767px) {
    margin-top: 40px;
  }
  @media (max-width: 575px) {
    margin-top: 20px;
  }
}

.m-auto {
  margin: 0 auto;
}