.card--box {
  border-radius: 12px;
  border: 1px solid $colorLineGray;
  padding: 40px 45px 70px 45px;
  text-align: center;
  @media (max-width: 1199px) {
    padding-bottom: 40px;
  }
  @media (max-width: 767px) {
    padding: 20px 25px 20px 25px;
  }
  .card--box__title {
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 400;
    @media (max-width: 767px) {
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
  .card--box__text {
    font-size: 16px;
    font-family: $fontSecondary;
  }
  &.active {
    box-shadow: 0px 20px 50px rgba(79, 119, 255, 0.2);
    @media (max-width: 1199px) {
      box-shadow: unset;
    }
  }
} 