.shop--sidebar {
  .shop--sidebar__box {
    margin-bottom: 20px;
    .box__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 68px;
      padding-bottom: 20px;
      margin-bottom: 30px;
      border-bottom: 1px solid #E7E5EA;
    }
    .box__choose {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      .choose__input {
        display: flex;
        gap: 10px;
        align-items: center;
        .title {
          font-size: 14px;
          font-family: $fontSecondary;
          color: #333;
        }
      }
      &.box__subtitle {
        padding-left: 30px;
      }
    }
    .box__price {
      .price__bar {
        width: calc(100% - 20px);
        height: 2px;
        background-color: $colorTextGray;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          width: calc(100% - 20px);
          height: 100%;
          right: 0;
          top: 0;
          background-color: $colorPrimary;
        }
        .bar__dots {
          position: absolute;
          top: 5px;
          font-size: 14px;
          color: #333;
          &:before {
            content: '';
            position: absolute;
            top: -10px;
            left: 50%;
            transform: translateX(-50%);
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $colorPrimary;
          }
          &.bar__start {
            left: 0;
          }
          &.bar__end {
            right: -25px;
          }
        }
      }
    }
    .box__filter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 991px) {
        flex-direction: column;
        gap: 5px;
      }
      .filter__item {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;
        &:last-child {
          color: $colorPrimary;
        }
      }
    }
  }
}
