.switch {
  position: relative;
  display: inline-block;
  width: 72px;
  height: 33px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $colorTextGray;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 7px;
  bottom: 6px;
  background-color: $colorGreen;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $colorGreen;
}
input:checked + .slider:before {
  background-color: $colorWhite;
}

input:checked + .slider:before {
  -webkit-transform: translateX(37px);
  -ms-transform: translateX(37px);
  transform: translateX(37px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 16.5px;
}

.slider.round:before {
  border-radius: 50%;
}