$colorPrimary: #4F77FF;
$colorWhite: #ffffff;
$colorGreen: #34C635;
$colorRed: #EF3737;
$colorYellow: #F9E492;
$colorPink: #FFC0EC;
$colorBlue: #4F77FF;
$colorOrange: #FF9513;
$colorPurple: #886CFF;
$colorDarkBlue: #001C7F;
$colorTurquoise: #61DCDF;
$colorPurpleLight: rgba(136, 108, 255, 0.2);
$colorBlueLight: rgba(79, 119, 255, 0.2);
$colorYellowLight: rgba(255, 149, 19, 0.2);

// color text
$colorText: #7B88A8;
$colorTextGray: #E7E5EA;
$colorTitle: #2D3958;
$colorDark: #321370;

//color background
$colorBgDark: #12022F;
$colorBgAlt: #321370;
$colorBgGray: #292F3A;
$colorBgLight: #F8FAFC;
$colorBgLightAlt: #F7F5F1;

//color line
$colorLine: rgba(97, 119, 152, 0.2);
$colorLineGray: #E7E5EA;

//shadow 
$shadowBig: 0 60px 40px rgba(18, 2, 47, 0.1);
$shadowYellow: 0 20px 40px rgba(255, 201, 71, 0.15);
$shadowMain: 0 5px 20px rgba(18, 2, 47, 0.15);
$shadowBlue: 0 20px 50px rgba(79, 119, 255, 0.2);

//font
$fontPrimary: 'Outfit', san-serif;
$fontSecondary: 'DM Sans', san-serif;